.intro{
    background: black;
    color: white;

    .wrapper{
        display: flex;
        padding: 100px 100px 100px 100px;
        max-width: 5000px;


        .image{
            
            img{
                width: 860px;
            }
        }

        .describe{
            padding-left: 20px;
            padding-right: 100px;
            padding-top: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .aboutbtn{
              min-width: 100px;
              font-size: 16px;
              font-weight: bold;  
              padding: 20px;
              border-radius: 0;
              border: none;
            }
        }
    }


}